{% extends 'base.html'%}

{% block content %}

<!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ title }}</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {{ form.as_p }}

          <input class="btn btn-primary" type="submit" value="{{ title }}">

        </form>
      </div>
    </div>
  </div>

  <hr>

{% endblock %}