{% extends 'base.html'%}

{% block content %}

{% if not request.user.is_authenticated %}
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Gönderi Ekle</h1>
            <span class="subheading">Sadece adminler gönderi ekleyebilir.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% else %}
<!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Gönderi Ekle</h1>
            <span class="subheading"></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {{ form.as_p }}

          <input class="btn btn-primary" type="submit" value="Kaydet">

        </form>
      </div>
    </div>
  </div>

  <hr>
{% endif %}

{% endblock %}