{% extends 'base.html'%}

{% block content %}

{% if not request.user.is_authenticated %}
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Gönderiler</h1>
            <span class="subheading">Gönderileri görebilmek için giriş yapınız.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% else %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <span class="meta">Admin tarafından gönderildi
              {{ post.date }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          {% include 'messages.html' %}

          <p>{{ post.text }}</p>
          
        </div>
      </div>
    </div>
  </article>

  <hr>
{% endif %}
  
{% endblock %}